
h2{
    text-align:center;
}
.col-sm-6{
    margin-left: 300px;
    margin-top: 40px;
}

input{
    background-color: #fff;
    border: 1px solid black;
}
.candidate{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
    width: 100%;
    height: 42px;
    outline: none;
    background-color: #fff;
}
button{
    background-color: rgb(98, 159, 238);
    color:black;
    margin-left:250px;
}